@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #02191D;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  @apply p-[20px] max-[300px]:px-2
}
.ticket {
  background-image: url("/public/assets/ticket_bg.png");
  height: 300px;
}